<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:mongo="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <description>Spring MongoDB配置</description>

    <bean id="mongoServerAddress" class="com.mongodb.ServerAddress">
        <constructor-arg value="${mongo.host}"/>
        <constructor-arg value="${mongo.port}"/>
    </bean>

    <bean id="mongoCredential" class="com.mongodb.MongoCredential" factory-method="createCredential">
        <constructor-arg value="${mongo.username}"/>
        <constructor-arg value="${mongo.database}"/>
        <constructor-arg value="${mongo.password}"/>
    </bean>

    <bean id="mongoClient" class="com.mongodb.MongoClient" destroy-method="close">
        <constructor-arg ref="mongoServerAddress"/>
        <constructor-arg>
            <list>
                <ref bean="mongoCredential"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="morphia" class="org.mongodb.morphia.Morphia"/>

    <bean id="datastore" class="org.mongodb.morphia.Datastore" factory-bean="morphia" factory-method="createDatastore">
        <constructor-arg ref="mongoClient"/>
        <constructor-arg value="mongoTest"/>
    </bean>

</beans>
